h1{
    font-size: 26px;
    color: #f25149;
}

.details-page{
    background: url("login-bg.jpeg") no-repeat center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.details-box{
    width: 50%;
    background-color: #f5f7d8;
    padding: 30px 30px;
}

p{
    color: #06061d;
}

.book-name{
    font-size: 32px;
    color: #03003b;
}

.book-author{
    font-size: 22px;
}